<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxj.sawaliapps">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bpjs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bpjs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LayananActivity" />
        <activity android:name=".KisActivity" />
        <activity android:name=".JknActivity" />
        <activity android:name=".KetenagaActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Chat" />
        <activity android:name=".Register" />
        <activity android:name=".Users" />
        <activity android:name=".Jkn1" />
        <activity android:name=".Jkn2" />
        <activity android:name=".Jkn3" />
        <activity android:name=".Jkn4" />
        <activity android:name=".Jkn5" />
        <activity android:name=".Jkn6" />
        <activity android:name=".Jkn7" />
        <activity android:name=".Layanan1" />
        <activity android:name=".Layanan2" />
        <activity android:name=".Layanan3" />
        <activity android:name=".Layanan4" />
        <activity android:name=".Layanan5" />
        <activity android:name=".Layanan6" />
        <activity android:name=".Layanan7" />
        <activity android:name=".Kis1" />
        <activity android:name=".Kis2" />
        <activity android:name=".Kis3" />
        <activity android:name=".Kete1" />
        <activity android:name=".Kete2" />
        <activity android:name=".Kete3" />
        <activity android:name=".Kete4" />
        <activity android:name=".Kete5" />
        <activity android:name=".Kete6" />
    </application>

</manifest>